

.root-div {
    min-height: 700px;
}



/* Login.js */
.container {
    margin: 0 auto;
}
.login-comp-background {
    /*min-height: 667px;*/
    height: 100vh;
    width: 100vw;
    display: block;
    position: relative;
    color: teal;
    /*color: white;*/
    padding: 20px;
}
.login-comp-background:after {
    content: '';
    background-image: url('./listen-music.jpg');
    /*background-image: url('./couple1.jpg');*/
    /*background-image: url('./couple2.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*opacity: 0.66;*/
    opacity: 1;
    z-index: -1;
}
.login-text {
    font-size: 14pt;
    text-align: center;
}
.splash-hashtags {
    display: inline;
    list-style: none;
    margin-top: 20px;
}
.btn-login {
    display: block;
    margin: 0 auto;
}
/* end Login.js */





/* User.js */
.home-avatar {
    display: block;
    margin: auto;
    margin-top: 10px;
    max-height: 100px;
    width: auto;
}
.greeting-header {
    display: inline-block;
    margin-top: 10px;
    width: 95%;
    text-align: center;
    font-size: xx-large;
}
.compare-button {
    margin: 10px auto;
    /*height: 80px;*/
    vertical-align: middle;
}
.display-profile-or-find-common {
    width: 95%;
    /*border: 1px solid black;*/
    margin: 0 auto;
}
.fav-artist-genre-list {
    list-style-position: inside;
    text-align: center;
}

/* end User.js */





/* Profile.js */
.btn-show-artist-genre-song {
    width: 95%;
}
.div-artist-genre-song {
    width: 80%;
    margin: 0 auto;
}
/* end Profile.js */




/* FindCommon.js */
.select-user-from-list {
    border: 1px solid black;
    height: 100px;
}
.search-email {
    width: 90%;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}
.btn-submit-search {
    width: 95%;
    display: block;
    margin: 0 auto;
}
.display-find-common-search-results {
    margin: 0 auto;
    text-align: center;
}
.display-inline {
    display: inline-block;
}
/* end FindCommon.js */





/* stray styles */
.side-by-side {
    border: 1px solid black;
    width: 40%;
    margin: 0 auto;
    display: inline-block;
}
.my-left-col {
    border: 1px solid black;
    margin: 10px;
    width: 40%;
    display: inline-block;
}
.my-right-col {
    border: 1px solid black;
    margin: 10px;
    width: 40%;
    display: inline-block;
}
/* end stray styles*/





/* misc styling */
.underline-text {
    text-decoration: underline;
}
.italic-text {
    font-style: italic;
}
.bold-text {
    font-weight: bold;
}
.blue-text {
    color: blue;
}
.white-text {
    color: white;
}
.center-list {
    text-align: center;
    list-style-position: inside;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* end misc styling */
